.roundabout img{
    margin: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.gallerypics{
    width: 400px;
    border: 2px solid white;
    border-radius: 5px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: antiquewhite;
    color: #202020;
    display: block;
}

.gallerypics img{
    width: 100%;
}

.gallerypics p{
    color: #202020;
    margin-left: 10px;
    margin-right: 10px;
}

/* Slideshow Stuff */
.hidden {
    display: none;
  }

#slideshow{
    position: relative;
    height: 300px;
    width: 80%;
    background-color: #161616;
    margin: auto;
}

#slideshow img {
    height: 100%;
}

#galleryslideshow{
    position: relative;
    height: 150px;
    width: 80%;
    background-color: #161616;
    margin: auto;
}

#galleryslideshow img {
    height: 100%;
}

.arrowbutton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
  }

  #prev { left: 5px; }
  #next { right: 5px; }


.characterbar{
    display: flex;
    flex: 1;
    width: 300px;
    border-radius: 5px;
    margin: auto;
    padding: 0;
    margin-bottom: 20px;
    color: #202020;
}

.character{
    display: flex;
    margin: 10px;
    flex: 1;
    border:3px solid #d4a03a;
    border-radius: 5px;
    background-color: antiquewhite;
    color: black;
    min-width: 400px;
}

.chardesc{
    flex: 4;
    text-align: left;
    margin-left: 30px;
    text-wrap: wrap;
}

.charcol{
    display: block;
}

.charcol img{
    margin-top: 20px;
    height: 100%;
    width: auto;
}

.charcol p{
    margin-left: 15px;
    margin-right: 15px;
}

.largecol{
    display: none;
}

.character img{
    height: 300px;
    width:fit-content;
}

.column{
    flex-wrap: wrap;
    display: flex;
  }

  .character-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 30px;
  }

.buttonRow{
    background-color: #021a36;
}

.charbtn {
    background-color:#d4a03a;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-flex; 
    justify-content: center;
    align-items: center;  
    border: solid 3px white;
    border-radius: 30px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

.charbtn:hover {
    background-color:#d4a13ac4;
}

.deletebtn {
    background-color:#d4a13a75;
    border: solid 1px black;
    cursor: pointer;
    display: inline-flex; 
    justify-content: center;
    align-items: center;  
    border-radius: 10px;
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    float:right;
}

.deletebtn:hover {
    background-color:#d4a13ac4;
}

.editbtn {
    background-color:#d4a13a75;
    border: solid 1px black;
    cursor: pointer;
    display: inline-flex; 
    justify-content: center;
    align-items: center;  
    border-radius: 10px;
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    float:right;
}

.editbtn:hover {
    background-color:#d4a13ac4;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


@media (min-width: 700px) {

    .roundabout img{
        width: 90%;
    }


    .charcol{
        display: none;
    }

    .largecol{
        display: flex;
    }

    #galleryslideshow{
        height: 200px;
    }
}

@media (min-width: 875px) {

    .roundabout img{
        width: 80%;
    }

    #galleryslideshow{
        height: 300px;
    }
}

@media (min-width: 1250px) {

    .roundabout img{
        width: 70%;
    }
}